/* nav */

#navBox {
  background-color: lightgray;
  text-align: center;
}

#navHomeBox {
  margin: auto;
  border: 1px solid;
  border-radius: 3px;
}

#navHome {
  text-align: center;
  padding: 14px;
  padding-left: 32px;
}

#navHome:hover {
  color: rebeccapurple;
}

/* landing */

#landPage {
  background-image: url(./img/black.jpg);
  background-size: 1500px;
}

#landNameCol {
  position: relative;
}

#landName {
  color: white;
  margin: 130px;
  min-width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#arkayCol {
  position: relative;
}

#arkay {
  border: 1px solid white;
  border-radius: 5px;
  height: 300px;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 991px) {
  #arkay {
    margin-top: 50px;
  }
}

/* about */

#aboutPage {
  background-image: url(./img/blue.jpg);
  background-size: 1350px 800px;
  display: block;
  border: solid 5px;
}

#aboutBox {
    padding: 30px;
}

#aboutTitle {
    margin-bottom: 50px;
}

#frontCol {
  position: relative;
}


#backCol {
  position: relative;
}

#frontEnd, #backEnd, #aboutTitle {
  margin: 10px;
  padding: 20px;
  min-width: 400px;
  border: solid 1px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 150%;
  color: white;
}

/* projects */

#projectsTitle {
    padding-top: 50px;
    text-align: left;
}


#projectsPage {
    text-align: center;
    border: solid 5px;
    background-color: whitesmoke;
}

/* #carouselExampleIndicators {
    border: solid 5px;
    border-radius: 3px;
    margin: auto;
    min-width: 300px;
    margin-bottom: 20px;
} */


/* #projectImgBox {
}

#projectImg {
    border-bottom: 5px solid;
}

#projectDetails {
    padding: 10px;
    display: block;
    border: solid 1px;
} */


.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: black;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 991px) {
  .card img {
  }
}

/* contact */

#contactPage {
    background-color: #212529;
  text-align: center;
  color: white;
}

#contactForm {
  border: 1px solid;
  padding: 10px;
  background-color: #535b63;
}

input, textarea {
    outline: none;
}

#messageInput {
    width: 400px;
    height: 100px;
}



/* footer */

#footer {
  background-color: #212529;
}
